html {
    margin: 5px;
    padding: auto;
}

header {
    border-radius: 2px;
    border-color: green;
    border-style: groove;
    display: grid;
    column-gap: 3vw;
}



div {
    border-radius: 2px;
    border-color: blue;
    border-style: groove;
}

input {
    border: 2px;
    margin: 3px;
    width: 140px;
}

.attr {
    font-size: 20px;
}

.attrValue {
    font-size: 30px;
    width: 140px;
    height: 140px;
    border-style:dashed;
    border-radius: 5px;
    
}

.tempg {
    display: grid;
    column-gap: 3vw;
    border: groove red 2px;
}

.tempg-50-50 {
    grid-template-columns: 50% 50%;
    column-gap: 5px;
}

.tempg-40-60 {
    grid-template-columns: 40% 60%;
    column-gap: 0px;
}

.tempg-33-33-33 {
    grid-template-columns: 33.3% 33.4% 33.3%;
    column-gap: 0px;
}

.posCC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posCB {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.posCT {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.languages {
    height: 120px;
}


#alignment.lg {
    background-color: blue;
}

#alignment.ln {
    background-color: purple;
}

#alignment.le {
    background-color: red;
}

#alignment.ng {
    background-color: rgb(51, 51, 255);
}

#alignment.nn {
    background-color: rgb(255, 51, 255);
}

#alignment.ne {
    background-color: rgb(255, 51, 51);
}

.cg {
    background-color: rgb(102, 102, 255);
}

.cg:hover {
    background-color: rgb(102, 102, 255);
}

.cn {
    background-color: rgb(255, 102, 255);
}

.cn:hover {
    background-color: rgb(255, 102, 255);
}

.ce {
    background-color: rgb(255, 102, 102);
}

.ce:hover {
    background-color: rgb(255, 32, 32);
}


@media only screen and (max-width: 800px) {
    .tempg-33-33-33 {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .tempg-50-50 {
        grid-template-columns: 100%;
    }

    .tempg-40-60 {
        grid-template-columns: 100%;
    }
}

/*
.header {    position: -webkit-sticky;position: sticky;}
*/