@font-face {
  font-family: "NotoSans";
  src: url(ressources/fonts/NotoSans-Black.ttf) format("truetype");
}

body {
  font-family: "NotoSans";
  background-color: hsl(120, 95%, 20%);
}

.weis-gruen {
  
  color: hsl(120, 95%, 80%);
  font-size: 10px;
}  