@font-face {
    font-family: "roboto";
    src: url(resources/font/Roboto-Regular.ttf) format("truetype");
}

body{
    font-family: "indie";
}

h1{
    text-align: center;
}

p {
    text-align: left;
    font-size: 30px;   
}

p.prof {
font-size: 50px;
padding: 0 0 0 60px;
}

.a {
    font-size:80px;
    text-align: center;
    text-decoration-line: underline;
}

p.text_in_p {
    width: 620px;
    justify-content: left;
    font-size: 45px;
    padding-left: 20px;
}
div.first {
    background-color: aqua;
    height: 790px;
}

img {
    float: right;
}
div.second {
    display: flex;
    
}
ol.skillslist {
    list-style-type: none;
    padding:0;
    line-height: 50px;
    font-size: 45px;
}

div.third {
     
    width:500px;
    float:right;
    position: absolute;
}

#skill{
    padding-left: 40px;
    width:1450px;
    height: 950px;
}


div.exp, #experience{
    font-size: 35px;
    padding-left: 60px;
}

ol.explist{
    list-style-type: none;
    
}

ol.explist > li{
font-size: 45px;

}
.language{
    list-style-type: none;
    padding:0;
    line-height: 50px;
    font-size: 45px;
}

.person-inf {
    width:100%;
    height: 560px;
    background-color: aqua;
}

.person-inf > p {
    padding-left: 40px;
    font-size: 45px;
}


div.third {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 1400px;
    background-color: aqua;

}


.competence-list{
    list-style-type: none;
}
.competence-list > li{
    padding-left: 250px;
    font-size: 45px;
}

.competence-list > img {
    height: 100px;
    float: left;
}


.hobbies{
    list-style-type: none;
}

.edulist{
    list-style-type: none;
}

.edulist > li {
    font-size: 45px;

}

.hobbies > li{
    font-size: 45px;
    line-height: 100px;
}

.fourth{
    width: 100%;
    height: 200px;
    background-color: aqua;
}

/*
.abc > li {
    list-style: none;
    background-color: hsl(180, 90%, 85%);
}

.abc > li:hover {
    font-weight: 900;
    padding-left: 30px;

}

.abc > li:nth-child(2n){
    background-color: hsl(240, 90%, 85%);
}*/

