.Person{
    display: grid;
    grid-template-columns: 20% auto;
    column-gap: 60px;
    margin-left: 20px;
    margin-top: 20px;
}

.Person > img {
    border: solid aqua 10px;
    border-radius: 20px;
    box-shadow: 5px 7px hsl(180, 100%, 50%, 0.2);
}

.dev{
    color: aqua;
}

body{
    background-color: 1F1C27;
    color: aqua;
}

.Kontakt{
    text-align:left;
}
.Info{
    color: aqua;
}

.School{
text-align: left;

}

.Skill{
    text-align: left;
}

.Sprache{
text-align: left;
}

.Work{
    align-items: right;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 20px;
    
}

.Person > img {
    width: 100%;
}

.Bildung{
    color: aqua;
}

.Können{
    color: aqua;
}

.Ex{
    color: aqua;
}

.rightSide {
    border-left: solid aqua 10px;
    padding-left: 16px;
}