.foto {    
    padding: 4px;
    border: solid hsl(118, 93%, 85%) 8px;
    border-radius: 20%;
    box-shadow: 10px 3px hsla(118, 93%, 85%, 0.2);
}

li {
    padding-top: 8px;
}
.container {
    width: 400px;
      height: 400px;
    
  }
  .container2 {
    width: 400px;
      height: 200px;
    
  }

.rightSide > :last-child {
    height: 900px;
}

.magicList > :nth-child(2n){
    background-color: darkblue;
}